* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  height: 60px;
  width: 100%;
  background-color: #534a97;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 80px;
}
.logo {
  color: #b5b6a4;
  font-size: 30px;
  font-weight: 600;
}
.header_options {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_options > a {
  text-decoration: none;
  color: #f5efff;
  font-size: large;
  font-weight: 400;
}
.menu_btn {
  display: none;
}
.header_options > a:hover {
  color: black;
  transition: all 0.5s ease;
}

#home {
  background: #362e71;
  color: #f5f5f5;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero_wrap {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 0;
  gap: 20px;
  animation: slide-in 1s ease;
}
.hero_right {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-out 1s ease;
}
.img_container {
  overflow: hidden;
  height: 380px;
  width: 380px;
  border-radius: 50%;
}
.img_container > img {
  height: 100%;
  width: 100%;
}
.hero_left > h1 {
  color: #ffffff94;
  font-size: 36px;
  font-weight: 900;
}
h1 > span {
  color: #b5b6a4;
}
.hero_left > h2 {
  font-size: 18px;
  font-weight: 500;
}
.hero_left > p {
  width: 80%;
  text-align: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.hero_left > a {
  height: 60px;
  width: 160px;
  padding: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: large;
  color: #f5efff;
  background-color: #534a97;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
.hero_left > a:hover {
  color: #534a97;
  background-color: #f5efff;
  border: 2px solid #a294f9;
  transition: all 0.5s ease-in-out;
}

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  gap: 100px;
  background-color: #f5efff;
  justify-content: center;
  color: #b5b6a4;
}
#about > h1 {
  margin-left: 140px;
  font-size: xx-large;
  color: #362e71;
}
h1 > u {
  height: 5px;
}
.abt_wrap {
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.tech_stack {
  height: 100%;
  width: 30%;
  border-radius: 20px;
  background-color: #362e71;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  animation: slide-in 1s ease;
}
.skills {
  overflow: hidden;
  height: 90px;
  width: 90px;
  border-radius: 10%;
  background-color: #f5efff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  filter: blur(1px);
  cursor: pointer;
}

.skills:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.skills > img {
  height: 80%;
  width: 80%;
}

.skills span:hover {
  visibility: visible;
}

.abt_desc {
  height: 100%;
  width: 60%;
  border-radius: 20px;
  padding: 40px;
  background-color: #362e71;
  animation: slide-out 1s ease;
}
.abt_desc > p {
  font-size: large;
  font-weight: 400;
  line-height: 2;
  text-align: justify;
  color: #ebebeb;
}


@media only screen and (max-width: 600px) {
  .hero_wrap {
    padding: 80px 0 0 0;
    flex-direction: column-reverse;
  }
  header {
    padding: 0 20px;
    justify-content: space-between;
  }
  .header_options {
    display: none;
  }
  .menu_btn {
    display: flex;
    height: 24px;
    width: 24px;
  }
  .img_container {
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .hero_left {
    width: 100%;
  }
  .hero_left > h1 {
    font-size: 36px;
    font-weight: 900;
  }

  .hero_left > h2 {
    font-size: 18px;
    font-weight: 700;
  }
  .hero_left > p {
    font-size: 18px;
    font-weight: 300;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

